<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doenermap - der hohe Rat</title>

    <meta charset="utf-8" />
	<link rel="shortcut icon" href="/static/doner-kebab.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Doener Ratings von r doener" />
    <meta name="keywords" content="Doener Map, Doenermap, doener on map, reddit doener" />
    <meta name="author" content="u timo_schroe" />



    <script>
    var map, infobox, tooltip;
    var tooltipTemplate = '<div style="border-radius:8px;background-color:white;height:35px;width:200px;padding:5px;text-align:center">{title}</div>';

    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {
            mapTypeId: Microsoft.Maps.MapTypeId.road,
            zoom: 4
        });

        //Create an infobox to use as a tooltip when hovering.
        tooltip = new Microsoft.Maps.Infobox(map.getCenter(), {
            visible: false,
            showPointer: false,
            showCloseButton: false,
            offset: new Microsoft.Maps.Point(0, -50)
        });

        tooltip.setMap(map);

        //Create an infobox for displaying detailed information.
        infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
            visible: false,
            maxHeight: 580,
            maxWidth: 300,
            actions: [{
                label: 'Stimmen dazu...',
                eventHandler: function (e) {
                    alert("Top Comments bald hier");
                }
            }]
        });

        infobox.setMap(map);
        {% for row in rows %}

                var location = new Microsoft.Maps.Location({{ row.4 }}, {{ row.5 }}); // '{{ row.1[:70] }}

                var pin = new Microsoft.Maps.Pushpin(location, {
                {% if (row.5 <= 1.6) and  (row.5 >= -11 ) and (row.4 <= 59.8) and (row.4 >= 49.8) %}
                    icon: '{{url_for('static', filename='uk.png')}}',
                {% else %}
                    {% if(loop.index < 10) %}
                        icon: '{{url_for('static', filename='doner-kebab-highlight.png')}}',
                    {% else %}
                        icon: '{{url_for('static', filename='doner-kebab.png')}}',
                    {% endif %}
                {% endif %}


            anchor: new Microsoft.Maps.Point(12, 39)
        });
            pin.metadata = {
                title: '{{ row.1[:70] }}',
                subTitle: 'test',
                description: '{{ row.9| replace('\n','\\n') }} <br><br>' +
        {% if row.8 == "/static/doner-kebab.png" %}
        '<a href="https://reddit.com/{{ row.11 }}" target="_blank"><img width="60px"; style="display: block; margin-left: auto; margin-right: auto;" src="{{ row.8 }}"></a>' +
        {% else %}
         '<a href="https://reddit.com/{{ row.11 }}" target="_blank"><img width="250px" style="border-radius:5px;display: block; margin-left: auto; margin-right: auto;" src="{{ row.8 }}"></a>' +
        {% endif %}
        '</br><b>Rating: {{ row.2 }} Preis: {{ row.3 }} €</b> <br> {{ row.12 }} by <a href="https://reddit.com/u/{{ row.6 }}"> /u/{{ row.6 }}</a><a href="https://reddit.com/{{ row.11 }}" target="_blank"><img src="/static/reddit.png" width="40px" style="display: block; margin-left: 240px; margin-top: -45px;"</a><br>'

            };

            Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
            Microsoft.Maps.Events.addHandler(pin, 'mouseover', pushpinHovered);
            Microsoft.Maps.Events.addHandler(pin, 'mouseout', closeTooltip);

            map.entities.push(pin);
        {% endfor %}
    }

    function pushpinClicked(e) {
        //Hide the tooltip
        closeTooltip();

        //Make sure the infobox has metadata to display.
        if (e.target.metadata) {
            //Set the infobox options with the metadata of the pushpin.
            infobox.setOptions({
                location: e.target.getLocation(),
                title: e.target.metadata.title,
                description: e.target.metadata.description,
                visible: true
            });
        }
    }

    function pushpinHovered(e) {
        infobox.setOptions({ visible: false });
        if (e.target.metadata) {
            tooltip.setOptions({
                location: e.target.getLocation(),
                htmlContent: tooltipTemplate.replace('{title}', e.target.metadata.title),
                visible: true
            });
        }
    }

    function closeTooltip() {
        tooltip.setOptions({
            visible: false
        });
    }

    function onButtonClick(){
         var element = document.getElementById("infotext");
        element.classList.toggle("show");
        }

    </script>

<style>
        .customNavBar {
            position:absolute;
            top: 10px;
            left: 10px;
            border-radius: 10px;
        }
        .hide{
  display:none;
}
.show{
  display:block;
    position:absolute;
            top: 50px;
            left: 50px;
            background-color: antiquewhite;
            padding: 10px;
            font-family: Calibri;
    border-radius: 10px;

}
    </style>
<meta name="msvalidate.01" content="59272B35CC50FF1FD6730D59B82E40FA" />
</head>
<body>
    <div id="myMap" style="position:relative;width:100%;min-width:290px;height:100%;background-color:gray"></div>
 <div class="customNavBar">
            <input type="button" value="Döner Informationen" onclick="onButtonClick();"/>
        </div>
    <div class="hide" id="infotext">&#8960;  Post-Preis: {{prices_all_median}} €<br>
                                    &#8960;  Post-Preis 2024: {{prices_24_median}} €<br>
                                    &#8960;  Post-Preis 2023: {{prices_23_median}} €<br>
                                    &#8960;  Post-Preis 2022: {{prices_22_median}} €<br>
                                    &#8960;  Post-Preis 2021: {{prices_21_median}} €<br><br><br>Letztes Update: {{now}}<br>
        Doner Image by <a href="https://www.freepik.com/">Freepik</a><br>created by <a href="https://reddit.com/u/timo_schroe">/u/timo_schroe</a><a href="https://www.buymeacoffee.com/georgs"><br><br><img width="150px" src="/static/buymeadoener.png"></a></div>
    <script>
        // Dynamic load the Bing Maps Key and Script
        // Get your own Bing Maps key at https://www.microsoft.com/maps
        (async () => {
            let script = document.createElement("script");
            let bingKey = "Aix1vi3xHSrNTdWMOAjJCdKosqUQ7dBw_hhldDkwcVZoDRQ6zZbQKFgOIaESp7-L";
            script.setAttribute("src", `https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=${bingKey}`);
            document.body.appendChild(script);
        })();
    </script>
<script defer data-domain="r-doener.github.io" src="https://info.schroejahr.de/js/script.js"></script>
</body>
</html>